
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <app-side-navigation></app-side-navigation>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content ">

            <!-- Topbar -->
            <app-top-navigation></app-top-navigation>
            <!-- End of Topbar -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="mb-4">
                    <h3 class="h3 mb-0 text-gray-800">Gestion des irritants | <small>irritants en cours de traitement</small></h3>
                </div>
                <app-irritant-tabmenu></app-irritant-tabmenu>
                <p-table [columns]="cols" [value]="cars1" selectionMode="single" class="mb-4 card shadow" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries">
                    <ng-template pTemplate="header" let-columns>
                        <tr>
                            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                                {{col.header}}
                                <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                            </th>
                            <th>
                               voir
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-columns="columns">
                        <tr [pSelectableRow]="rowData">
                            <td *ngFor="let col of columns">
                                {{rowData[col.field]}}
                            </td>
                            <td class="d-flex justify-content-around" >
                                <button type="button" class="btn btn-info">
                                    <i class="pi pi-search" style="font-size: 1.2em;"></i>
                                </button>
                             </td>
                        </tr>
                    </ng-template>
                </p-table> 
            </div>
        </div>
    </div>
</div>