
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <app-side-navigation></app-side-navigation>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content ">

            <!-- Topbar -->
            <app-top-navigation></app-top-navigation>
            <!-- End of Topbar -->
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="mb-4">
                    <h3 class="h3 mb-0 text-gray-800">Gestion des standards | <small>gérer les demandes de rectifications</small></h3>
                </div>
                <app-standard-tabmenu></app-standard-tabmenu>
                <div class="row d-flex justify-content-around">
                <div class="col-sm-7 card shadow py-3">
                    <p-accordion>
                        <div class="row d-flex justify-content-around">
                            <p-accordionTab header="vérifier la pression du compresseur"  class="col-sm-10">
                                Mafia family, overseeshis daughter's wedding. His beloved son ichael has just come home from the war, but does not intend to become part of his father's business. T hrough Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family, kind and benevolent to those who give respect, but given to ruthless violence whenever anything stands against the good of the family.
                            </p-accordionTab>
                            <i class="pi pi-exclamation-circle text-danger" style="font-size: 2em;"></i>
                        </div>
                        <div class="row d-flex justify-content-around">
                            <p-accordionTab header="Godfather II" class="col-sm-10">
                                Mafia family, overseeshis daughter's wedding. His beloved son ichael has just come home from the war, but does not intend to become part of his father's business. T hrough Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family, kind and benevolent to those who give respect, but given to ruthless violence whenever anything stands against the good of the family.
                            </p-accordionTab>
                            <i class="pi pi-exclamation-circle text-danger" style="font-size: 2em;"></i>
                        </div>
                        <div class="row d-flex justify-content-around">
                            <p-accordionTab header="Godfather III" class="col-sm-10">
                                Mafia family, overseeshis daughter's wedding. His beloved son ichael has just come home from the war, but does not intend to become part of his father's business. T hrough Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family, kind and benevolent to those who give respect, but given to ruthless violence whenever anything stands against the good of the family.
                            </p-accordionTab>
                            <i class="pi pi-exclamation-circle text-danger" style="font-size: 2em;"></i>
                        </div>
                        
                        
                    </p-accordion>
                </div>
                <div  class="col-sm-4 card shadow py-3">
                    filtrer la liste : émetteur, zone, date
                </div>
            </div>
            </div>
        </div>
    </div>
</div>